{
  "presets": [
    [
      "@babel/preset-env",
      {
        targets: {
          node: "current",
          chrome: "58"
        },
      },
    ],
    "@babel/preset-react"
  ],
  "plugins": [
  	"@babel/plugin-proposal-export-default-from"
  ]
}
