{
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parser": "babel-eslint",
	"plugins": [
		"react-hooks"
	],
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	},
	"env": {
		"browser": true,
		"node": false,
		"jest": true
	}
}
