[class*="item-"] {
	position: absolute;
	top: 0;
	left: 0;
}

[class*="item-"] img {
	width: 300px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.item-exit {
  
}
.item-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}