.container {
	touch-action: none;
	display: inline-flex;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	overflow: hidden;
	position: relative;
}

.innerContainer {
	position: relative;
	white-space: pre;
	will-change: transform;
	transition: 0.001s ease-in-out;  /* HACK: fix for flickering seen on FF 70 */
}

.img {
	width: 100%;
	vertical-align: top;
	transition: 0.2s opacity;
	transition-delay: 1s;
}