.container {
	position: relative;
	display: inline-block;
}

.imageContainer {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	max-width: 100%;
}

.crossfade-appear {
	opacity: 0;
}

.crossfade-appear-active {
	opacity: 1;
	transition: opacity 300ms;
}

.crossfade-enter-active {
	opacity: 1;
}

.crossfade-enter-done {
	opacity: 1;
}

.crossfade-exit {
	opacity: 1;
}

.crossfade-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

/*.crossfade-exit-done {
	opacity: 0;
}*/

.img {
	width: 100%;
	vertical-align: top;
}

.hiddenPreloadedImages {
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
}
