.container {
	touch-action: none;
	display: inline-flex;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	overflow: hidden;
	position: relative;
}

.innerContainer {
	position: relative;
	white-space: nowrap;
}

@-moz-document url-prefix() {
    .innerContainer {
    	will-change: transform;
    	transition: 0.01s transform ease-in-out; /* HACK: fix for flickering seen on FF 70-76+ */
    }
}

.img {
	width: 100%;
	vertical-align: top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;

	/*
	 * Mobile.  Important: need to move image to background so touch events occur on parent container,
     * not inner changing imgs.
	 */
	z-index: -1;
}
