.container {
	position: relative;
}

.container img {
	width: 300px;
}

.imageContainer {
	position: absolute;
	top: 0;
	left: 0;
}

.crossfade-enter {
	opacity: 0;
}

.crossfade-enter-active {
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}

.crossfade-exit {
  
}

.crossfade-exit-active {
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}