.container {
	touch-action: none;
	display: inline-flex;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
	position: relative;
}

.innerContainer {
	position: relative;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	perspective: 1000px;
	will-change: transform;
}

/* FF hacks */
@-moz-document url-prefix() {
	.innerContainer {
		filter: blur(0.1px); /* Fixes initial flickering. */
	}
}

.img {
	width: 100%;
	vertical-align: top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;

	/*
	 * Mobile.  Important: need to move image to background so touch events occur on parent container,
     * not inner changing imgs.
	 */
	z-index: -1;
}
